name: deploy

on:
  push:
    branches: [ "production" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '11'
          cache: 'gradle'
      - name: Deploy
        env:
          timemates.host: ${{ secrets.host }}
          timemates.user: ${{ secrets.user }}
          timemates.password: ${{ secrets.password }}
          timemates.archiveName: ${{ secrets.archiveName }}
          timemates.prod.destination: ${{ secrets.prod_destination }}
          timemates.prod.serviceName: ${{ secrets.prod_serviceName }}
        run: ./gradlew :application:productionDeploy
        
